@charset "UTF-8";

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/FuturaPT-Demi.woff") format("woff");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-ExtraBold.woff2") format("woff2"), url("../fonts/FuturaPT-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/FuturaPT-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FuturaPT;
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: gotham_black;
  font-display: swap;
  src: url("../fonts/gotham_black.woff2") format("woff2"), url("../fonts/gotham_black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "FuturaPT";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "FuturaPT";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input:focus-visible {
  outline: none;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.top-background {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.page {
  z-index: 1;
}

.header {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header__container {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-link {
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #180F35;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}

.header__menu-link:hover {
  color: #31E7B1;
}

.header__get-started {
  display: block;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #180F35;
  background: #31E7B1;
  border: 1px solid #31E7B1;
  border-radius: 100px;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}

.header__get-started:hover {
  background-color: #F6F8FF;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background: #0C071B;
  color: #8D8C8C;
  padding: 30px 0 50px;
  z-index: 1;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.footer__item {
  max-width: 270px;
}

.footer__item:first-child {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 30px;
}

.footer__logo svg path:nth-child(1) {
  fill: #fff;
}

.footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.footer__navigation a:hover {
  color: #31E7B1;
}

.footer__link-box:not(:last-child) {
  margin-bottom: 10px;
}

.services__list a:hover {
  color: #31E7B1;
}

.services__list li:not(:last-child) {
  margin-bottom: 10px;
}

.footer__reviews-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__review-link:hover {
  color: #31E7B1;
}

.main-search-form {
  margin-bottom: 100px;
}

.main-search-form strong {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-right: 24px;
}

.main-search-form .select__title {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  padding-left: 35px;
  border-radius: 25px;
  border: 1px solid #180F35;
  height: 50px;
  width: 205px;
  bottom: 0;
  z-index: 6;
  -webkit-transition-duration: 100ms;
       -o-transition-duration: 100ms;
          transition-duration: 100ms;
}

.main-search-form .select__title::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 12px;
  left: 17px;
  top: calc(50% - 6px);
  background: url("../img/icon/filter.svg") 0 0/contain no-repeat;
}

.main-search-form .select__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 15px;
  top: calc(50% - 1.5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3.5px 0 3.5px;
  border-color: #180f35 transparent transparent transparent;
  -webkit-transition-duration: 100ms;
       -o-transition-duration: 100ms;
          transition-duration: 100ms;
}

.main-search-form .select__value {
  padding-left: 10px;
}

.main-search-form .select__options {
  overflow: hidden;
  top: 25px;
  border: 1px solid #180F35;
  border-top: 0;
  z-index: -1;
  padding: 20px 0px 5px 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.main-search-form ._select-open .select__title {
  border-radius: 25px 25px 0 0;
  border-bottom: 0;
}

.main-search-form ._select-open .select__title::after {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.main-search-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #FFFFFF;
  padding-top: 28px;
  color: #180F35;
}

.rewievs-slider__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-search-form__text-box {
  position: relative;
  height: 50px;
}

.main-search-form__text {
  height: 50px;
  margin-right: 28px;
}

.main-search-form__text input {
  height: 100%;
  min-width: 370px;
  border-radius: 25px;
  padding-left: 45px;
  border: 1px solid #180F35;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.main-search-form__text input::-webkit-input-placeholder {
  color: #180F35;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.main-search-form__text input::-moz-placeholder {
  color: #180F35;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.main-search-form__text input:-ms-input-placeholder {
  color: #180F35;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.main-search-form__text input::-ms-input-placeholder {
  color: #180F35;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.main-search-form__text input::placeholder {
  color: #180F35;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.main-search-form__submit {
  display: inline-block;
  position: absolute;
  left: 18px;
  top: calc(50% - 9px);
  height: 18px;
  width: 18px;
}

.rewievs-slider {
  margin-bottom: 82px;
}

.rewievs-slider .rewievs-slider__slide {
  padding: 26px;
  background: rgba(253, 253, 255, 0.6);
  border: 2px solid rgba(247, 248, 255, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 12px;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.rewievs-slider .rewievs-slider__slide p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.rewievs-slider .swiper-slide-next {
  background: #F6F8FF;
  padding: 35px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.rewievs-slider .swiper-slide-next p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.rewievs-slider .swiper-slide-next .rewievs-slider__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
}

.rewievs-slider .swiper-slide-next .rewievs-slider__post-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #180F35;
}

.rewievs-slider__container {
  position: relative;
  height: 350px;
}

.rewievs-slider__slider .swiper-autoheight .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-wrapper {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.rewievs-slider__title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.rewievs-slider__subtitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 17px;
}

.rewievs-slider__post-info {
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #180F35;
}

.rewievs-slider__post-info--author {
  margin-bottom: 4px;
}

.rewievs-slider__post-info--time {
  margin-bottom: 15px;
}

.rewievs-slider__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.rewievs-slider__image img {
  width: 100%;
  border-radius: 12px;
}

.swiper-button-prev {
  position: absolute;
  left: 10px;
  top: 50%;
}

.swiper-button-prev svg path {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.swiper-button-prev:hover svg path {
  fill: #31E7B1;
}

.swiper-button-next {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-next svg path {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.swiper-button-next:hover svg path {
  fill: #31E7B1;
}

.big-posts {
  margin-bottom: 30px;
}

.big-posts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.big-posts__item {
  border: 1px solid #F6F8FF;
  border-radius: 12px;
  overflow: hidden;
}

.big-posts__item img {
  width: 100%;
  max-height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.big-posts__item:hover {
  background-color: #F6F8FF;
}

.big-posts__info-container {
  padding: 25px;
}

.big-posts__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 12px;
}

.big-posts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 22px;
}

.big-posts__subinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-posts__author-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-posts__author-block img {
  width: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.author__text-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}

.small-posts {
  margin-bottom: 112px;
}

.small-posts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.small-posts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  padding: 26px;
  background: rgba(253, 253, 255, 0.6);
  border: 2px solid rgba(247, 248, 255, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 12px;
}

.small-posts__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.small-posts__item:hover {
  background: #F6F8FF;
}

.small-posts__title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.small-posts__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 17px;
}

.small-posts__post-info {
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #180F35;
}

.small-posts__post-info--author {
  margin-bottom: 4px;
}

.small-posts__post-info--time {
  margin-bottom: 15px;
}

.small-posts__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.small-posts__image img {
  width: 100%;
  border-radius: 12px;
}

.faq {
  margin-bottom: 110px;
}

.faq .faq__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #31E7B1;
  text-align: center;
  margin-bottom: 4px;
}

.faq .faq__block-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #180F35;
  text-align: center;
  margin-bottom: 60px;
}

.faq .spollers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.faq .spollers__title {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 15px 30px;
  margin: 0 auto 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: start;
  background: #FFFFFF;
  border: 1px solid #180F35;
  border-radius: 100px;
}

.faq .spollers__title:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 30px;
  top: calc(50% - 4px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: #121c31 transparent transparent transparent;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}

.faq .spollers__title._spoller-active {
  background: #F6F8FF;
}

.faq .spollers__title._spoller-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-color: #31E7B1 transparent transparent transparent;
}

.faq .spollers__body {
  max-width: 900px;
  margin: 0 auto 20px;
  padding: 0 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}